# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Test cache
.pytest_cache/

# Packaging
*.egg-info/
build/
dist/

# Environment / secrets
.env
.env.*

# IDE
.vscode/
.idea/

.lh/